
body{
    background: url(https://t4.ftcdn.net/jpg/03/25/38/41/360_F_325384191_sg1D5lYWfRedGQsBm8xIHnsSAUUUVxGE.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.button{
    font-size:20pt;
    background-color: rgb(67, 197, 67);
    border-radius: 10px;
    border-style:hidden;
    border-color: aqua;
    width: 100px;
    height: 50px;
    margin-top: 10px;
}

.buttons{
    position: absolute;
    display: grid;
    margin-top: 200px;
    margin-left: 50px;
}

.button:hover{
    background-color: rgb(100, 255, 100);
}

.cards{
    /* margin-left: 100px; */
    /* margin-top: 20px; */
    position: absolute;
    /* justify-content: center; */
    /* display:inline-block; */
    /* display: table-cell; */
    /* margin-left: 100px; */

}
#cards_user{
    /* margin-top: 300px; */
    left: 60%;
}
#cards_dealer{
    top:50%;
    /* margin-top: 300px; */
    left: 60%;
}
.card_crop{
    position:relative;
    overflow:hidden;
    width: 120px;
    height: 168px;
    float: left;
    margin-left: -70px;
    /* display: table; */
}

.crad_crop img {
    position:absolute;
    transform: translate(-120px,-168px);
    /* display: flex;
    display: inline-block;
    float: left;  */
}

#user{
    /* margin-top: 100px; */
    position: absolute;
    right: 50%;
}

#dealer{
    position: absolute  ;
    top:50%;
    right: 50%;
}

.hide {
    display:none !important
}

.box_cards{
    /* position: absolute;
    display: flex; */
    display: flex;
    /* flex-wrap: wrap-reverse; */
}

.pack_cards{
    position: absolute;
    width: 182px;
    height: 219px;
}

.field{
    /* justify-content: ; */
}